:root{
    --primary-color:#EE4D2D;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb

}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header__cart{
    border-bottom: 1px solid #ccc;
}
.header__cart h3{
    text-transform: uppercase;
    font-size: 2rem;
}
.cart__infor{
    display: flex;
    border-bottom: 1px solid #ccc;
}
.cart__img{
    height: 150px;
    width: 100px;
}
.cart__intro{
    margin-left: 30px;
}
.cart__list{
    list-style: none;
    /* padding-left: 0; */
    border-left: 1px solid #ccc;

}

.cart__item-icon{
    display: flex;
    justify-content: space-between;
}
.icon__delete-link{
    text-decoration: none;
    height: 8px;
}
.cart__bonus{
    display: flex;
    justify-content: space-between;
}
.icon__heading{
    font-size: 1.4rem;
    color: #242424;
}
.icon-delete{
    font-size: 2rem;
    color: #242244;
}
/*  */
.cart__item{
    font-size: 1.4rem;
    color: #242424;
    margin-top: 15px;
}
.cart__item-price{
    margin-top: 15px;
}
.cart__price{
    display: flex;
    justify-content: space-between;
}
.price__text{
    font-size: 1.4rem ;
    color: #242424;
}
.price__current{
    margin-left: 128px;
    font-size: 1.4rem;
}

/*  */
.btn{
    /* min-width: 90px; */
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    padding: 6px;
    cursor: pointer;
    color: var(--white-color);
    background-color: rgb(4, 24, 4);
    /* width: 100%; */
    /* transform: translateX(100%); */
    margin-left: 40%;
    margin-top: 30px;
    border: 1px solid#ccc;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
}
    /* .infor__pay{
        border: 1px solid #ccc;
    } */
.infor__value{
    margin-top: 15px;
    display: flex;
    justify-content: space-between  ;

}
.value__text{
    font-size: 1.4rem;
}
.infor__current{
    font-size: 1.5rem;
    
}
.infor__transport{
    margin-top: 15px;
    display: flex;
    justify-content: space-between  ;
}
.transport__text{
    font-size: 1.4rem;

}
.transport__current{
    font-size: 1.4rem;
}
.infor__total{
    margin-top: 15px;
    display: flex;
    justify-content: space-between  ;
}
.total__text{
    font-size: 1.4rem;

}
.total__current{
    font-size: 1.4rem;
}
.infor__list{
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
}
.infor__item{
    font-size: 1.4rem;
    margin-top: 15px;
    color: #242424;
    
}

/* thông tin giao hàng  */
/* .over__play{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.4);
} */
.list__form{
    display: none;
}
.nav__input:checked ~ .list__form{
    display: block;
}
.abc{
    margin-top: 30px;
    /* transform: translateX(40%); */
    margin-left: 40%;
}
.delivery{
    font-size: 1.8rem;
    padding: 6px;
    background-color: rgb(4, 21, 25);
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}
.amand__img{
    margin-top: 50px;
  margin-left: 40%;
}
.heading-form{
    font-size: 2rem;
}
.form__information{
    /* transform: translateX(40%); */
    /* margin-left: 40%; */
}
.label__name{
    font-size: 1.6rem;
}
.text-box{
    margin-top: 15px;
}
.text-box input{
    width: 100%;
    height: 30px;
    border-radius: 4px;
    outline: none;
    
}